# **nth Fibonacci**

The Fibonacci numbers are the numbers in the following integer sequence.

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation 

Fn = Fn-1 + Fn-2

with seed values 

F0 = 0 and F1 = 1.

Example:

*   Input  : n = 2
*    Output : 1


*   Input  : n = 9
*   Output : 34

# **Answer**

In [12]:
def mainfuc(a):
  b = 1
  fx = 0
  fn = 0
  for i in range(a-1):
    fn = fx + b 
    b = fx
    fx = fn

  return fn

In [17]:
print([mainfuc(x) for x in range(20)])

[0, 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]